<html ng-app="angularjsapp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sample Angular JS - Taxi Ride</title>
	<script src="resources/js/lib/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="resources/styles/lib/bootstrap.min.css">
	<link rel="stylesheet" href="resources/styles/lib/bootstrap-theme.min.css">
	<script src="resources/js/lib/functions.js"></script>
	<script src="resources/js/lib/angular.js"></script>
	<script src="resources/js/TaxiRideController.js"></script>
	<script src="resources/js/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
	
	<style>
	  .full button span {
	    background-color: limegreen;
	    border-radius: 32px;
	    color: black;
	  }
	  .partially button span {
	    background-color: orange;
	    border-radius: 32px;
	    color: black;
	  }
	</style>
</head>

<body ng-controller="TaxiRideController as controller">
	<a href="index.html">Back</a>
	<div class="container">
		<h3>Taxi Ride</h3>
		<form class="form">
			<label>Driver:<br/>
				<select ng-model="taxiRide.driver" ng-options="driver.name for driver in driverlist "></select>
			</label>
			<br/>
			<label>Duration:
				<input type="number" class="form-control" ng-model="taxiRide.duration"/>
			</label>
			<br/>
			<label>Cost:
                <input type="number" class="form-control" name="cost" ng-model="taxiRide.cost" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.10" required />
			</label>
			<br/>
			<label>New Passengers:
				<select ng-model="taxiRide.passenger" ng-options="passenger.firstName for passenger in newPassengersList "></select>
			</label>
		    <button class="btn btn-default" ng-click="openModal('sm')">Add New Passenger</button>
			<br/>
			<label>Passengers from history:
				<select ng-model="taxiRide.passenger" ng-options="passenger.firstName for passenger in historyPassengersList "></select>
			</label>
			<br/>

			<label>Date:</label>				
		    <div class="row">
		        <div class="col-md-6">
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="taxiRide.date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		
		    </div>
			
			<button ng-click="save()" class="btn btn-success">Save</button>
		</form>
		
		  <div class="alert alert-success" ng-show="showSuccessAlert">
		     <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
		     <strong>Saved!</strong> {{successTextAlert}}
		 </div>
         <div class="alert alert-danger" ng-show="showErrorAlert">
		     <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >×</button>
		     <strong>Error!</strong> {{errorTextAlert}}
		 </div>
		
		<br/>
	</div>
		 <script type="text/ng-template" id="passenger.html">
    	   <div class="modal-header">
		      <h3 class="modal-title">Add new Passenger</h3>
		   </div>
		   <div class="modal-body">
				First Name: <input type="text" ng-model="passenger.firstName"/> <br/>
				Last Name: <input type="text" ng-model="passenger.lastName"/> <br/>
				Age: <input type="number" ng-model="passenger.age"/><br/>
 		   </div>
 			 <div class="modal-footer">
       			   <button class="btn btn-primary" ng-click="ok()">OK</button>
   			       <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      		  </div>
  		</script>
</body>

</html>